.MuiGridList-root-64 {
  background-color: #151515 !important;
  margin: auto !important;
  border: 10px solid red;
  padding-top: 25px !important;

  width: 650px;
  /* height: 500px; */

  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;

  overflow: hidden;
}
.card-header{
  align-content: baseline !important;
  display: flex ;
  justify-content: space-between !important;
  
  border-bottom: 1px solid #363636 !important;

	font-weight: 200 !important;

  color: #dadada !important;
  box-shadow: none !important;
  font-size: 1em !important;
}
.MuiGridListTile-root-65 {
  height: 115px;
  width: 115px;

  margin: 5px;

  box-shadow: 
  0 7px 21px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);

}


.MuiGridListTileBar-root-69.MuiGridListTileBar-titlePositionBottom-70 {
  /* background-color: red; */
}