/* Parental Guardian */
.profile-parent {
	background-color: #151515;
	
	width: 350px;
	/* padding: 25px; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
/* Profile Image, Rank Icon(s) & Steam and Location Icon */
.image-parent {
	height: 200px;
	width: 300px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	justify-content: center;
}
	/* Avatar Icon */
	.profile-picture {
		margin: 0.5%;
		padding-right: 15px;
	}
	/* Rank Icon Parent Container */
	.profile-rank-parent {
		margin: 0.5%;
		width: 100px;
		height: 200px;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		justify-content: flex-start;
	}
		/* Rank Icon */
		.profile-rank-icon {
			width: auto;
			height: 50%;
		}
		/* Rank Stars */
		.profile-rank-stars {
			width: auto;
			height: 50%;
		}
	.profile-icons {
		position: absolute;

		margin-top: 65px;
		margin-left: 195px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
		/* Globe Icon */
		.locale {
			padding-bottom: 5%;
			padding-left: 5%;
		}
		/* Info Icon */
		.steam {
			padding-bottom: 5%;
			padding-left: 5%;
		}

/* Player Name, Win %, Record ### - ####   */
.info-parent {
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

}
	/* Profile Name */
	.profile-name {
		width: 100%;
		margin: 2.5%;
		
	}
	.profile-name h1 {
		color: #ffffff;
		margin: 0;
		font-size: 2.8em;
		font-weight: 500;
	}

	/* Profile Ratio & Record */
	.profile-data {
		display: flex;
		flex-direction: row;

		justify-content: center;

		width: 100%;

	}

	/* Winrate */
	.profile-ratio {
		width: 50%;
		margin: 1.5%;
	}
		.profile-ratio  h5 {
			margin: 0;

			color: #828282;
			font-size: 0.8em;
			text-transform: uppercase;
	
		}
		.profile-win-ratio-value {
			font-size: 1.7em;
			font-weight: 525;
			color: #828282;
			text-transform: uppercase;
		}

	.profile-record {
		width: 50%;
		margin: 1.5%;
	}
		.profile-record h5 {
			margin: 0;

			color: #828282;
			font-size: 0.8em;
			text-transform: uppercase;

		}
		.profile-ratio-record {
			font-size: 1.7em;
			font-weight: 525;
			color: #828282;
			text-transform: uppercase;
		}
.grn {
	background: none;
	color: green;
}
.red {
	background: none;
	color: red;
}
.MuiDivider-root-85 {
	width: 50% !important;
	height: 2px !important;
	opacity: 0.5 !important;
	background-color: #434343 !important;
}
	
	